* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #f3f5fc;
}

header {
    height: 48px;
    width: 31.085588455200195px;
    left: 44px;
    top: 0px;
    border-radius: 0px;
}

.main-container {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto {
    margin-top: 90px;
    margin-right: 90px;
}

.mensagem {
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("img/messagem.png");
    background-repeat: no-repeat;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.label-info {
    font-size: 15px;
    margin-left: 3px;
    color: darkblue;
}

.encrip {
    background-color: darkblue;
    color: white;
    border-radius: 40px;
}

.desencrip {
    background-color: #D8DFE8;
    color: darkblue;
    border-radius: 40px;
    margin-left: 15px;
}