    * {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }
    
    body {
        background-color: #f3f5fc;
    }
    
    header {
        height: 48px;
        width: 32px;
        left: 44px;
        top: 0px;
        border-radius: 0px;
    }
    
    .main-container {
        display: flex;
        margin-left: 80px;
        margin-bottom: 50px;
    }
    
    .input-texto {
        margin-top: 90px;
        margin-right: 90px;
        border: none;
    }
    
    .mensagem {
        border: none;
        position: relative;
        margin-top: 20px;
        margin-left: 90px;
        background-image: url("img/messagem.png");
        background-repeat: no-repeat;
    }
    
    .logo {
        height: 48px;
        width: 32px;
        margin-left: 44px;
        margin-top: 30px;
        border-radius: 0px;
    }
    
    .botoes {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        margin-top: 20px;
    }
    
    .label-info {
        font-size: 15px;
        margin-left: 3px;
        color: darkblue;
    }
    
    .encriptar {
        background-color: darkblue;
        color: white;
        border-radius: 40px;
        width: 228px;
        font-size: 20px;
    }
    
    .desencrip {
        background-color: #D8DFE8;
        color: darkblue;
        border-radius: 40px;
        margin-left: 15px;
        width: 228px;
        font-size: 12px;
    }
    
    .rodape {
        margin-bottom: 10px;
        position: absolute;
        background-color: #c0dcdf;
        color: darkblue;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 50px;
    }
    
    #texto {
        font-size: 17px;
    }
    
    .links {
        text-decoration: none;
    }